.forum {
  .forum-nav {
    .right {
      float: right;
      border-style: solid;
      border-color: #5762fb;
      border-width: 5px;
      background-color: #5762fb;
      border-radius: 20px;
    }
  }

  .forum-content {
    ul {
      list-style-type: none;
    }
    span {
      margin-right: 80px;
    }
  }
}
