.chat {
    z-index: 9;
    position: fixed;
    bottom: 32px;
    right: 32px;

    &-icon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #9097ff;
        cursor: pointer;
    }

    &-expand {
        height: 500px;
        width: 350px;
        border-radius: 12px;
        background-color: white;
        &-header {
            height: 70px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            background-color: #9097ff;

            padding-right: 20px;
        }
        &-body {
            height: 380px;
            max-height: 380px;
            overflow-y: scroll;

            padding-top: 16px;
            padding-bottom: 16px;

            & .message {
                width: 180px;
                margin-bottom: 16px;

                & img {
                    border-radius: 50%;
                    border: 1px solid lightgray;
                }

                &.left {
                    margin-left: 16px;
                    margin-right: auto;

                    & .content {
                        padding: 8px;
                        background-color: rgb(233, 230, 230);
                        border-radius: 4px;
                    }
                }

                &.right {
                    margin-right: 16px;
                    margin-left: auto;

                    & .content {
                        padding: 8px;
                        background-color: #9097ff;
                        color: white;
                        border-radius: 4px;
                    }
                }
            }
        }
        &-footer {
            height: 50px;
            background-color: rgb(238, 233, 233);
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;

            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
