.course-detail {
  .course-section {
    h3 {
      margin-left: 40px;
      :hover {
        text-decoration: none;
      }
    }
  }
  .student-list-section {
    .btn-green {
      color: white;
      background-color: rgb(39, 163, 49);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 8px;
    }
  }
}
