.course-detail {
  .course-section {
    padding-left: 5%;
  }

  .student-list-section {
    .btn-green {
      color: white;
      background-color: rgb(39, 163, 49);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 8px;
    }
  }
}
