.main-container {
  // border: 1px solid blue;
  width: 80%;
  margin: 50px auto;
}

.cursor-pointer {
  cursor: pointer;
}

.red-dot {
  color: red;
}

.btn-submit {
  color: white;
  background-color: #5762fb;
  border: none;
  border-radius: 4px;
}


