.forum {
  .forum-nav {
    margin-bottom: 48px;
  }

  .link-white-text {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .forum-content {
    padding-bottom: 12px;
  }
}
